<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myproject-server</display-name>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>showCoach</display-name>
    <servlet-name>showCoach</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showCoach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCoach</servlet-name>
    <url-pattern>/showCoach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchCoachServlet</display-name>
    <servlet-name>searchCoachServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.searchCoachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCoachServlet</servlet-name>
    <url-pattern>/searchCoachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showCoachVenueServlet</display-name>
    <servlet-name>showCoachVenueServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showCoachVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCoachVenueServlet</servlet-name>
    <url-pattern>/showCoachVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showCoachListServlet</display-name>
    <servlet-name>showCoachListServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showCoachListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCoachListServlet</servlet-name>
    <url-pattern>/showCoachListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCoachDetailServlet</display-name>
    <servlet-name>viewCoachDetailServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.viewCoachDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCoachDetailServlet</servlet-name>
    <url-pattern>/viewCoachDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewVenueDetailServlet</display-name>
    <servlet-name>viewVenueDetailServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.viewVenueDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewVenueDetailServlet</servlet-name>
    <url-pattern>/viewVenueDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>venueSortServlet</display-name>
    <servlet-name>venueSortServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.venueSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>venueSortServlet</servlet-name>
    <url-pattern>/venueSortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeDiaryServlet</display-name>
    <servlet-name>writeDiaryServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.writeDiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeDiaryServlet</servlet-name>
    <url-pattern>/writeDiaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewDiaryServlet</display-name>
    <servlet-name>viewDiaryServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.viewDiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewDiaryServlet</servlet-name>
    <url-pattern>/viewDiaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>publishActivityServlet</display-name>
    <servlet-name>publishActivityServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.publishActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishActivityServlet</servlet-name>
    <url-pattern>/publishActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showActiBySnameServlet</display-name>
    <servlet-name>showActiBySnameServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showActiBySnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showActiBySnameServlet</servlet-name>
    <url-pattern>/showActiBySnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showActiByAnameServlet</display-name>
    <servlet-name>showActiByAnameServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showActiByAnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showActiByAnameServlet</servlet-name>
    <url-pattern>/showActiByAnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agreejoinActiServlet</display-name>
    <servlet-name>agreejoinActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.agreejoinActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agreejoinActiServlet</servlet-name>
    <url-pattern>/agreejoinActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>canceljoinActiServlet</display-name>
    <servlet-name>canceljoinActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.canceljoinActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canceljoinActiServlet</servlet-name>
    <url-pattern>/canceljoinActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dianZanActiServlet</display-name>
    <servlet-name>dianZanActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.dianZanActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dianZanActiServlet</servlet-name>
    <url-pattern>/dianZanActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentCoachServlet</display-name>
    <servlet-name>commentCoachServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.commentCoachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentCoachServlet</servlet-name>
    <url-pattern>/commentCoachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentVenueServlet</display-name>
    <servlet-name>commentVenueServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.commentVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentVenueServlet</servlet-name>
    <url-pattern>/commentVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeShuoshuoServlet</display-name>
    <servlet-name>writeShuoshuoServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.writeShuoshuoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeShuoshuoServlet</servlet-name>
    <url-pattern>/writeShuoshuoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendresourceServlet</display-name>
    <servlet-name>sendresourceServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.sendresourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendresourceServlet</servlet-name>
    <url-pattern>/sendresourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeLabelServlet</display-name>
    <servlet-name>ChangeLabelServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.ChangeLabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeLabelServlet</servlet-name>
    <url-pattern>/ChangeLabelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckaccountServlet</display-name>
    <servlet-name>CheckaccountServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.CheckaccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckaccountServlet</servlet-name>
    <url-pattern>/CheckaccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNicknameServlet</display-name>
    <servlet-name>CheckNicknameServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.CheckNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNicknameServlet</servlet-name>
    <url-pattern>/CheckNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLabelServlet</display-name>
    <servlet-name>ShowLabelServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.ShowLabelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLabelServlet</servlet-name>
    <url-pattern>/ShowLabelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTreasureServlet</display-name>
    <servlet-name>ShowTreasureServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.ShowTreasureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTreasureServlet</servlet-name>
    <url-pattern>/ShowTreasureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFriendServlet</display-name>
    <servlet-name>addFriendServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.addFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFriendServlet</servlet-name>
    <url-pattern>/addFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeUserinfoServlet</display-name>
    <servlet-name>changeUserinfoServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.changeUserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeUserinfoServlet</servlet-name>
    <url-pattern>/changeUserinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fenyeServlet</display-name>
    <servlet-name>fenyeServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.fenyeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fenyeServlet</servlet-name>
    <url-pattern>/fenyeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showFriendServlet</display-name>
    <servlet-name>showFriendServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.showFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showFriendServlet</servlet-name>
    <url-pattern>/showFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inOtherSpaceServlet</display-name>
    <servlet-name>inOtherSpaceServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.inOtherSpaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inOtherSpaceServlet</servlet-name>
    <url-pattern>/inOtherSpaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPswServlet</display-name>
    <servlet-name>ModifyPswServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.ModifyPswServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPswServlet</servlet-name>
    <url-pattern>/ModifyPswServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullException</exception-type>
    <location>/jsp/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AddColleServlet</display-name>
    <servlet-name>AddColleServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.AddColleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddColleServlet</servlet-name>
    <url-pattern>/AddColleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelColleServlet</display-name>
    <servlet-name>DelColleServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.DelColleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelColleServlet</servlet-name>
    <url-pattern>/DelColleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewTreasureServlet</display-name>
    <servlet-name>viewTreasureServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.viewTreasureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTreasureServlet</servlet-name>
    <url-pattern>/viewTreasureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelFriendServlet</display-name>
    <servlet-name>DelFriendServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.DelFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFriendServlet</servlet-name>
    <url-pattern>/DelFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessageServlet</display-name>
    <servlet-name>ShowMessageServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.ShowMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessageServlet</servlet-name>
    <url-pattern>/ShowMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessageboxServlet</display-name>
    <servlet-name>LoadMessageboxServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.LoadMessageboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessageboxServlet</servlet-name>
    <url-pattern>/LoadMessageboxServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullException</exception-type>
    <location>/jsp/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>viewShuoshuoServlet</display-name>
    <servlet-name>viewShuoshuoServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.viewShuoshuoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewShuoshuoServlet</servlet-name>
    <url-pattern>/viewShuoshuoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeDeclarationServlet</display-name>
    <servlet-name>changeDeclarationServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.changeDeclarationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeDeclarationServlet</servlet-name>
    <url-pattern>/changeDeclarationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeNicknameServlet</display-name>
    <servlet-name>changeNicknameServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.changeNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeNicknameServlet</servlet-name>
    <url-pattern>/changeNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeAddressServlet</display-name>
    <servlet-name>changeAddressServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.changeAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeAddressServlet</servlet-name>
    <url-pattern>/changeAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelZanActiServlet</display-name>
    <servlet-name>cancelZanActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.cancelZanActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelZanActiServlet</servlet-name>
    <url-pattern>/cancelZanActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allActiServlet</display-name>
    <servlet-name>allActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.allActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allActiServlet</servlet-name>
    <url-pattern>/allActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userInfoServlet</display-name>
    <servlet-name>userInfoServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.userInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoServlet</servlet-name>
    <url-pattern>/userInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tuiActiServlet</display-name>
    <servlet-name>tuiActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.tuiActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tuiActiServlet</servlet-name>
    <url-pattern>/tuiActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reActiServlet</display-name>
    <servlet-name>reActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.reActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reActiServlet</servlet-name>
    <url-pattern>/reActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinedActiServlet</display-name>
    <servlet-name>JoinedActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.JoinedActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinedActiServlet</servlet-name>
    <url-pattern>/JoinedActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pubActiServlet</display-name>
    <servlet-name>pubActiServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.pubActiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pubActiServlet</servlet-name>
    <url-pattern>/pubActiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dianZanServlet</display-name>
    <servlet-name>dianZanServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.dianZanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dianZanServlet</servlet-name>
    <url-pattern>/dianZanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelZanServlet</display-name>
    <servlet-name>cancelZanServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.cancelZanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelZanServlet</servlet-name>
    <url-pattern>/cancelZanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joinServlet</display-name>
    <servlet-name>joinServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.joinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinServlet</servlet-name>
    <url-pattern>/joinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelJoinServlet</display-name>
    <servlet-name>cancelJoinServlet</servlet-name>
    <servlet-class>com.chinasofti.myproject.servlet.cancelJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelJoinServlet</servlet-name>
    <url-pattern>/cancelJoinServlet</url-pattern>
  </servlet-mapping>
</web-app>